.sidebar {
    width: 18rem; /* Tailwind w-72 */
    padding: 1rem; /* Tailwind p-4 */
    background-color: #e3e2e2;
    color: #30363f;
    height: 100vh;
}

.sidebarTitle{
    /* color: #30363f;           text-white */
    font-size: 1rem;       /* text-base */
    font-weight: bold;     /* font-bold */
    margin-bottom: 1rem;   /* mb-4 */
    padding-left: 0.5rem;  /* px-2 (horizontal padding, left) */
    padding-right: 0.5rem;
}

.sidebarGrid {
    display: grid;                              /* grid */
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* grid-cols-2 */
    gap: 0.5rem;
}

.element {
    display: flex;                     /* flex */
    flex-direction: column;            /* flex-col */
    align-items: center;               /* items-center */
    gap: 0.5rem;                       /* gap-2 */
    border-radius: 0.5rem;             /* rounded-lg */
    padding: 0.75rem;                  /* p-3 */
    cursor: grab;                      /* cursor-grab */
    background-color: white;         /* bg-[#29382f] */
    transition: background-color 0.2s; /* For smooth hover effect (optional) */
}

.element:hover {
    /* background-color: #4b5563; */
    /* border-color: #daad4b;    */
    border: solid .05em #daad4b;     /*hover:bg-[#35483c] */
}

.element:active {
    cursor: grabbing;                  /* active:cursor-grabbing */
}